.btn-info {
	background-color: purple;
}
.btn-info:hover {
	background-color: #73f;
}
.btn-info:focus:active {
	background-color: #73a;
}

/* Background classes
====================================== */
.computer-bg {
	background-image: url('../images/computer-bg.jpg');
	background-position: center;
	background-size: cover;
	color: #eee;
}